/* ------------------- CSS reset ------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap-style: pretty;
}

/* ------------------- Estilos generales ------------------- */
* {
    font-family: Railway, sans-serif;
    text-decoration: none;
    scrollbar-width: none;
}

body {
    min-height: 100dvh;
    background: linear-gradient(157deg, #a0b5eb, #c9f0e4);
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1em;
    justify-items: center;
}

h1 {
    margin: .25em;
    padding: .25em;
    font-size: 2.25em;
    text-transform: uppercase;
    text-align: center;
}

/* ------------------- Estilos main ------------------- */

.box-container {
    align-self: center;
    justify-self: center;
    width: 75%;
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: repeat(9, 1fr);
    gap: 1.5em;
}

.box {
    padding: 1em;
    border: solid black 2px;
    border-radius: .75em;
    filter: drop-shadow(.75em .5em .5em);
    display: flex;
    align-items: center;
}

.section-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
    text-align: start;
}

.incomes {
    background: linear-gradient(157deg, green, lightgreen);
    grid-row: 1 / 5;
    height: fit-content;
    align-self: flex-start;
}

.logs {
    background: linear-gradient(157deg, goldenrod, lightgoldenrodyellow);
    grid-row: 1 / 9;
    flex-direction: column;
}

.expenses {
    background: linear-gradient(157deg, firebrick, lightcoral);
    grid-row: 6 / 10;
    height: fit-content;
    align-self: flex-end;
}

.balance {
    background: linear-gradient(157deg, darkslateblue, slateblue);
    grid-row: 9/10;
    justify-content: space-between;
}

.balance p {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
}

.balance-amount {
    width: 30%;
    text-align: end;
    font-size: 1.5em;
}

.form-container {
    width: 90%;
    margin: 1em;
    padding: .5em;
    justify-self: self-end;
}

.entries,
.bills {
    display: flex;
    flex-direction: column;
}